body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 15px 0 15px;
    min-height: calc(100vh - 300px);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* LAYOUT */

    /* NAVBAR */
.navbar-inverse .navbar-brand {
    color: #75ae1d;
}

.navbar-inverse .navbar-text {
    color: #75ae1d;
}

.navbar-inverse .navbar-nav > li > a {
    color: #75ae1d;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #75ae1d;
    }
}

.navbar-inverse .navbar-link {
    color: #75ae1d;
}

.navbar-inverse .btn-link {
    color: #75ae1d;
}

.navbar-style {
    font-weight: bold;
}

.logo img{
    height: 40px;
    padding: 0 10px;
}

    /* FOOTER */

.footer {
    height: 200px;
    border-top: 1px solid #080808;
    color: #75ae1d;
    background-color: #222;
    margin-top: 50px;
    margin-bottom: 0;
}

.footer-top {
    padding: 10px 0 10px 0;
}

img.image-footer {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer-copyright {
    border-top: 1px solid #181818;
    text-align: center;
    padding: 15px 0 20px 0;
}

/* HOME/INDEX */

#map {
    border: 2px solid black;
}

.map-index{
    height: 500px;
}

.create-spot {
    margin-top: 40px;
    padding: 20px;
    border: 2px solid black;
}

.margin-bot{
    margin-bottom: 10px;
}

/* HOME/DETAILS */

.map-details {
    height: 400px;
}

.details-field {
    margin-bottom: 30px;
}

.details-photo{
    width: 150px;
}

@media(max-width: 767px) {
    .padding-details {
        padding: 0 20px;
    }
}

.comments {
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.comment {
    background-color: #e0e0e0;
}




/* HOME/ABOUT */

.about-image{
    max-width: 500px;
    margin: 0 auto;
}

@media(max-width: 500px){
    .about-image {
        max-width: 300px;
    }
}


/* GENERAL */

.link,
.link:link,
.link:visited {
    color: #75ae1d;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.bold-text {
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.my-file-upload {
    max-width: 400px;
    width: 400px;
    padding: 10px;
    height: 40px;
}


/*TEMPORARY*/
#temporary {
    border: 2px solid black;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    background-color: black;
}

#temporary a{
    color: #75ae1d;
    padding: 0 5px;
}

#temporary a:hover{
    text-decoration: none;
    color: white;
}
