@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title</h2>

<p>Aplikacija Urbane mreže je eden izmed odgovorov na stalno prisotno dilemo, kako spodbujati aktivno udeležbo prebivalcev lokalne skupnosti pri reševanju zaznanih lokalnih problematik. Gre za sodobno spletno rešitev, namenjeno beleženju in opozarjanju na zapostavljene urbane predele Novega mesta. Uporabnik, ki se registrira v aplikacijo, lahko s pomočjo mobilne naprave zabeleži in fotografira lokacijo, za katero je mnenja, da je zapostavljena, zanemarjena ali kakorkoli drugače negativno vpliva na izgled mesta in počutje prebivalcev. Fotografijo naloži v aplikacijo, doda opis in ugotovljeno pozicijo ter s tem na interaktivnem zemljevidu aplikacije ustvari novo črno točko, ki postane del mreže. Na ta način lahko uporabniki enostavno opozarjajo na zapostavljene lokacije Novega mesta in dodajo svojo težo k pozivu širše javnosti in nenazadnje tudi pristojnih, naj kar najhitreje ukrepajo. Aplikacija omogoča enostavno mreženje uporabnikov preko spletnega foruma, vsebuje pa tudi nazoren statistični prikaz aktivnosti uporabnikov. Je prva tovrstna aplikacija, prisotna na področju Novega mesta in jo je mogoče po potrebi razširiti, nadgraditi ali celo povezati v morebiten sistem večih aplikacij.</p>

<p>Aplikacija je bila razvita v sklopu projekta Urbane mreže, ki ga financira Mestna občina Novo mesto skupaj s pomočjo donatorjev.</p>

<h3>Donatorji projekta:</h3>

<img class="img-responsive about-image" src='@Url.Content("~/Images/LogotipiVertikalno.jpg")' />
