@{
    ViewBag.Title = "Aktivnosti";
}
<h2>@ViewBag.Title</h2>

<p class="bold-text">Mesta</p>

<p>
    Število dodanih zapostavljenih mest:
    <span class="bold-text Type-Red">@ViewBag.countZapostavljena</span>
</p>

<p>
    Število urejenih zapostavljenih mest:
    <span class="bold-text Type-Green">@ViewBag.countUrejena</span>
</p>

<p>
    Število dodanih zanimivosti:
    <span class="bold-text Type-Blue">@ViewBag.countZanimivost</span>
</p>

