@{
    ViewBag.Title = "Aktivnosti";
}
<h2>@ViewBag.Title</h2>

<p class="bold-text">Mesta</p>

<p>
    Število dodanih zapostavljenih mest:
    <span class="bold-text">test</span>
</p>

<p>
    Urejena zapostavljena mesta:
    <span class="bold-text">test</span>
</p>

<p>
    Zadnje dodano zapostavljeno mesto:
    <span class="bold-text">test</span>
</p>

<br />

<p class="bold-text">Uporabniki</p>

<p>
    Število registriranih uporabnikov:
    <span class="bold-text">test</span>
</p>

<p>
    Zadnji registrirani uporabnik:
    <span class="bold-text">test</span>
</p>