@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<p>Vaše predloge in pripombe nam lahko sporočite na:</p>

<address>
    <a href="https://www.fis.unm.si/si/" target="_blank">Fakulteta za informacijske študije v Novem mestu</a><br />
    Ljubljanska cesta 31A,<br />
    8000 Novo mesto<br />
</address>