@model IEnumerable<UrbaneMreze.Models.Spot>
@{
    ViewBag.Title = "Domov";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-span-12">
            

        </div>
    </div>
</div>