@{
    ViewBag.Title = "Potrditev E-pošte";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala za potrditev vaše E-pošte. Prosimo @Html.ActionLink("Kliknite tukaj za prijavo", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
