@{
    ViewBag.Title = "Pozabljeno geslo potrditev";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Preverite svojo e-pošto za ponastavitev gesla.
    </p>
</div>
	
