@{
    ViewBag.Title = "Ponastavitev gesla potrditev";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vaše geslo je bilo ponastavljeno. Prosimo @Html.ActionLink("kliknite tukaj za prijavo", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
