@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zaklenjen";
}

<hgroup>
    <h1 class="text-danger">Zaklenjen.</h1>
    <h2 class="text-danger">Ta račun je bil zaklenjen, poskusite znova pozneje.</h2>
</hgroup>
